.cover {
    margin: 92px 48px;
    display: flex;
}

.cover::after {
    z-index: 0;
    content: "";
    width: 0;
    height: 0;
    margin-left: -1px;
    padding-top: calc(740 / 1184 * 100%);
}

@media screen and (max-width: 1024px) {

    .cover {
        width: 100%;
        margin: 92px 0;
    }

}

@media screen and (max-width: 768px) {

    .cover {
        margin: 90px 0 88px 0;
    }

}

@media screen and (max-width: 425px) {

    .cover {
        margin: 66px 0 67px 0;
    }

}