.cover {
    margin: 44px 48px 92px 48px;
    display: flex;
    background-image: url(../../images/cover-trains.jpg);
    background-size: contain;
    position: relative;
}

.cover::after {
    content: "";
    width: 0;
    height: 0;
    margin-left: -1px;
    padding-top: calc(740 / 1184 * 100%);
    cursor: url(../../images/Pointer.svg), auto;
}

@media screen and (max-width: 1024px) {

    .cover {
        width: 100%;
        margin: 92px 0;
    }

}

@media screen and (max-width: 768px) {

    .cover {
        margin: 90px 0 88px 0;
    }

}

@media screen and (max-width: 425px) {

    .cover {
        margin: 16px 0 0 0;
    }

}